<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application tools:node="merge">

    <!-- REF https://juejin.cn/post/7026669198537392165 -->
    <!-- “亲和性”表示 Activity 倾向于属于哪个任务。默认情况下，同一应用中的所有 Activity 彼此具有亲和性。因此，在默认情况下，同一应用中的所有 Activity 都倾向于位于同一任务。 -->
    <!-- android:taskAffinity 分别设置了两个活动的任务亲和性，这样它们就会属于不同的任务。当用户点击桌面上的图标时，系统会检查该活动是否属于正在后台运行的任务，如果不是，则会创建一个新的任务来启动该活动。 -->
    <activity
        android:name=".music.USB_AUDIO_EXCLUSIVE"
        android:autoRemoveFromRecents="false"
        android:configChanges="mcc|mnc|keyboard|keyboardHidden|screenLayout|orientation|screenSize|smallestScreenSize|uiMode"
        android:exported="true"
        android:icon="@drawable/icon"
        android:label="@string/activity_name_USB_AUDIO_EXCLUSIVE"
        android:launchMode="singleInstance"
        android:supportsPictureInPicture="true"
        android:taskAffinity=".sillot.task.USB_AUDIO_EXCLUSIVE">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <!-- shortcutId 不能重复 -->
        <meta-data
            android:name="android.app.shortcuts"
            android:resource="@xml/shortcuts_3" />
    </activity>



        <receiver
            android:name=".music.USBDeviceReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>
        </receiver>

    <service
        android:name=".music.MusicService"
        android:enabled="true"
        android:exported="false"
        android:foregroundServiceType="mediaPlayback"/>

    </application>

</manifest>