<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application tools:node="merge">
        <!-- 汐洛链滴社区客户端主入口 -->
        <activity
            android:name=".ld246.HomeActivity"
            android:alwaysRetainTaskState="true"
            android:autoRemoveFromRecents="false"
            android:configChanges="mcc|mnc|keyboard|keyboardHidden|screenLayout|orientation|screenSize|smallestScreenSize|uiMode"
            android:documentLaunchMode="intoExisting"
            android:exported="true"
            android:icon="@drawable/ld246"
            android:label="@string/activity_name_ld246Home"
            android:launchMode="singleInstancePerTask"
            android:noHistory="false"
            android:taskAffinity="org.b3log.ld246.HomeActivity"
            android:theme="@style/Theme.SiYuan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.shortcut_ld246_dailycheck" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="wtloginmqq" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="mqq" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="slld246" />
            </intent-filter>
            <!-- QQ授权回调，目前无效 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ssl.ptlogin2.qq.com"
                    android:scheme="https" />
            </intent-filter>

            <!-- shortcutId | android:name 不能重复 -->
            <meta-data
                android:name="android.app.shortcuts_ld246"
                android:resource="@xml/shortcuts_ld246" />
        </activity>

    </application>

</manifest>